.infinite-scroll {
  overflow: auto;
  scrollbar-color: #bef8fc #bef8fc;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1feff;
  }

  &::-webkit-scrollbar-thumb {
    background: #bef8fc;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: darken(#bef8fc, 5%);
  }
}